<footer id="footer" class="footer mt-auto">
    <div class="footer-header">
        <img src="logo.svg" class="brand-logo" alt="Logo">
        <div class="social-wrapper">
            <a class="social-platform" href="https://github.com/Dalakoti07/" target="_blank"><img alt=""
                    src="youtube.png" class="img-handle" /></a>
            <a class="social-platform" href="https://www.linkedin.com/in/saurabh-d-990930145/" target="_blank"><img
                    alt="" src="linkedin.png" class="img-handle" /></a>
            <a class="social-platform" href="https://stackoverflow.com/users/10386258/dalakoti07" target="_blank"><img
                    alt="" src="instagram.png" class="img-handle" /></a>
            <a class="social-platform" href="https://twitter.com/SaurabhDalakot5" target="_blank"><img alt=""
                    src="facebook.png" class="img-handle" /></a>
            <a class="social-platform" href="https://twitter.com/SaurabhDalakot5" target="_blank"><img alt=""
                    src="twitter.png" class="img-handle" /></a>
        </div>
    </div>

    <div class="footer-wrapper">
        <div class="footer-row">
            <p>Terms of Use</p>
            <p>Privacy Policy</p>
        </div>
        <div class="footer-row">
            <p>About Khabariya</p>
            <p>Contact Khabariya</p>
        </div>
        <div class="footer-row">
            <p>@2021 The Khabariya All Rights reserved</p>
        </div>
    </div>

</footer>