* {
  box-sizing: border-box;
}

/* for navbar */
.navbar {
  margin: 0px;
  background-color: #3b3b3b !important;
  padding: 0px;
}
.nav-link {
  margin: 0dp;
  padding: 0dp;
}
.navbar-collapse {
  /* border: 1px solid rebeccapurple; */
}
.nav-item .active {
  text-decoration: underline;
}
.nav-item :first-child {
  margin-left: 3rem;
}

.nav-item {
  margin-left: 3rem;
}
.nav-item a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.brand-logo {
  object-fit: cover;
  border: 0dp;
  padding: 0dp;
  /* border: 2px dashed white; */
  border-radius: 0px;
  width: 150px;
  height: 90px;
  background-position: center center;
  background-repeat: no-repeat;
}
.navbar-nav {
}

.custom-toggler .navbar-toggler-icon {
  /* background-image: url("../../views/images/toogle.svg"); */
  /* white navicon */
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHMAAABkCAMAAACCTv/3AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////5ubmueBsSwAAAAJ0Uk5T/wDltzBKAAAAPklEQVR42uzYQQ0AAAgDseHfNC4IyVoD912WAACUm3uampqampqamq+aAAD+IVtTU1NTU1NT0z8EAFBsBRgAX+kR+Qam138AAAAASUVORK5CYII=);
}

.st-line {
  margin: 2px;
  height: 1px;
  background-color: #3b3b3b;
}

/* main styling */
.heading {
  background-color: rebeccapurple;
}

/* footer styling*/
.social-wrapper {
  align-items: center;
  /* border: 2px dashed white; */
  display: flex;
  width: fit-content;
}
.img-handle {
  object-fit: contain;
}
.social-platform {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
.footer-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #3a3a3a;
}
.footer-wrapper {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #3a3a3a;
  justify-content: center;
}
.footer-row {
  padding: 0px;
  margin: 0px auto;
  margin-top: 10px;
  width: 60%;
  /* border: 2px dashed white; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-row p {
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

@media screen and (max-width: 800px) {
  .footer-header,
  .footer-row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-row p {
    text-align: center;
  }
}
